/* GENERAL */
* {
    font-family: 'Helvetica Neue','Heebo', sans-serif;
    font-weight: 400;
}
h1 {
    font-weight: 200;
}
.zel {
    font-weight: 500;
}
.thin {
    font-weight: 200;
}
.divider {
    margin: 25px 10px;
    border-left: 1px #bbbbbb solid;
}

.pl-1 { padding-left: 10px; }
.pr-1 { padding-right: 10px; }
.pl-15 { padding-left: 15px; }
.pr-15 { padding-right: 15px; }
.pl-2 { padding-left: 20px; }
.pr-2 { padding-right: 20px; }
.pl-3 { padding-left: 30px; }
.pr-3 { padding-right: 30px; }
.pl-4 { padding-left: 40px; }
.pr-4 { padding-right: 40px; }

.zelblue {
    background-color: #183c87;
}
.zelidcolor {
    background: -webkit-linear-gradient(left, #d83f87, #44318d);
    background: -o-linear-gradient(left, #d83f87, #44318d);
    background: linear-gradient(left, #d83f87, #44318d);
}

/* BUTTONS */
.rounded {
    border-radius: 50px;
}
.tiny {
    padding: 0 10px;
    line-height: 28px;
    font-size: 0.675rem;
}
.lightButtons button:not(.uk-card *) {
    background: #fff;
    color: #222;
}
.lightButtons button:hover {
    color: #222;
    opacity: .7;
}

/* UIKIT OVERRIDE */
/* NAVBAR */
nav.uk-navbar-container {
    z-index: 999;
}
.uk-navbar-container:not(.uk-navbar-transparent), .uk-navbar-container {
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(250%) blur(10px);
    -webkit-backdrop-filter: saturate(250%) blur(10px);
}
.subnav .uk-navbar-container:not(.uk-navbar-transparent), .subnav .uk-navbar-container {
    background: rgba(255,255,255,0.8);
    backdrop-filter: saturate(250%) blur(10px);
    -webkit-backdrop-filter: saturate(250%) blur(10px);
}
.uk-navbar-nav li a span {
    font-weight: 200;
}
.uk-navbar-nav li a {
    color: #fff;
    text-transform: none;
    font-weight: 500;
}
.uk-navbar-nav>li.uk-active>a {
    color: #fff;
    opacity: .7;
}
.uk-navbar-nav li a:hover {
    color: #fff;
    opacity: .5;
}
.uk-navbar img:hover {
    opacity: .5;
}
.subnav .uk-navbar-nav {
    overflow: auto;
}
.subnav .uk-navbar-nav li {
    margin: auto;
}
.subnav .uk-navbar-nav li a {
    margin: 5px 0;
    color: #000;
    text-transform: none;
    font-weight: 500;
    justify-items: center;
}
.subnav .uk-navbar-nav>li.uk-active>a {
    color: #000;
    opacity: .7;
}
.subnav .uk-navbar-nav>li>a>img:hover {
    opacity: 1;
}
.subnav .uk-navbar-item, .subnav .uk-navbar-nav>li>a, .subnav .uk-navbar-toggle {
    min-height: 40px;
}
.uk-navbar-dropdown-nav>li>a {
    color: #000;
}
.uk-navbar-dropdown-nav>li>a:hover {
    color: #000;
    opacity: .5;
}
.uk-navbar-dropdown {
    width: 100%
}
.uk-navbar-nav img {
    height: 30px;
    min-width: 100%;
}

/* CARD */
.uk-card {
    border-radius: 10px;
}
.uk-card-media-left img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.uk-card-media-right img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Phone portrait and smaller */
@media (max-width: 639px) {
    .uk-card-media-left img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .uk-card-media-right img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
    }
}
.uk-card-default {
    background: rgba(255,255,255,0.8);
    -webkit-backdrop-filter: saturate(250%) blur(10px);
}
.uk-card-body img {
    height: 50px;
}

/* FOOTER */
footer {
    font-size: 12px;
}
.social a {
    color: white;
    padding: 2px 0;
    width: 40px;
    height: 40px;
}
.social a:hover { opacity: 0.7; }
.social .facebook { background: #4b6cd0; }
.social .google { background: #f03b3b; }
.social .instagram { background: #bb8950; }
.social .twitter { background: #49a7f3; }
.social .linkedin { background: #00A0DC; }
.social .discord { background: #7289DA; }
.social .telegram { background: #0088cc; }
.social .slack { background: #2d333a; }
.social .github { background: #6e5494; }
.social .bitcointalk { background: #f7931a; }
.social .reddit { background: #ff4500; }

.uk-border-circle {
    width: 80px;
    height: 80px !important;
    background-color: #232220;
}